/*============================================================================================*/
/* Your custom styles below */
/*============================================================================================*/
  .main-menu > ul > li span > a {
    color: #fff;
    padding: 0 8px 15px 25px;
    font-size: 18px;
    font-size: 1.125rem;
    font-weight: 500;
  }